[Desktop Entry]
version=1.0
Name=drone_5
Comment=Drone-5 Wifi Configure
Exec=python /home/cac_lab/Desktop/floating-room/drone-fleet/wifi/scripts/drone_5.py
Path=/home/cac_lab/Desktop/floating-room/drone-fleet/wifi/scripts
Terminal=true
Type=Application
Categories=Utility;Application;
